{{ $published := .Date }}
{{ with .Params.published }}
  {{ if . }}
    {{ $published = time . }}
  {{ end }}
{{ end }}

{{ $lastmod := .Lastmod }}

{{ $dateFormat := "02–01–2006" }}
{{ with site.Params.DateFormat }}
  {{ if (printf "%s" .) }}
    {{ $dateFormat = . }}
  {{ end }}
{{ end }}

<p class="post-meta">
  📅 Published: {{ $published.Format $dateFormat }}
</p>

{{ if gt (sub $lastmod.Unix $published.Unix) (mul 30 86400) }}
  <p class="post-meta">
    🔄 Updated: {{ $lastmod.Format $dateFormat }}
  </p>
{{ end }}
