{{ $published := .Date }}
{{ with .Params.published }}
  {{ $published = time . }}
{{ end }}
{{ $lastmod := .Lastmod }}
{{ with .Params.lastmod }}
  {{ $lastmod = time . }}
{{ end }}

{{ $dateStr := $published.Format (default "2 January 2006" site.Params.DateFormat) }}

{{ if and $published $lastmod (gt (sub $lastmod.Unix $published.Unix) (mul 30 86400)) }}
  {{ $updateStr := $lastmod.Format (default "2 January 2006" site.Params.DateFormat) }}
  {{ printf "%s · updated %s" $dateStr $updateStr }}
{{ else }}
  {{ $dateStr }}
{{ end }}
